html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

body {
    background: #ee3e80;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

header {
    font-family: 'HortaRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 200px;
    width: auto;
    padding: 20px;
    color: purple;
}

#main {
    font-size: 32px;
    float: left;
    width: 100%;
    margin: 25px;
    border: 20px solid rgb(240, 103, 88);
    padding: 20px;
    background: purple;  
}

h1  {
    font-size: 32px;
    float: left;
    width: 100%;
    margin: 25px;
    border: 20px solid rgb(240, 103, 88);
    padding: 20px;
    background: purple;
}

img {
    width: 200px;
    height: 200px;
}

.container {
    font-size: px;
    float: left;
    width: 40%;
    height: 750px;
    margin: 75px;
    border: 20px solid rgb(240, 103, 88);
    background: purple;
}

a {
    color: #621BA9;
}

footer {
    clear: both;
    margin-bottom: 100px;
}